
.body {
  width: 1100px;
  margin-inline: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px 96px 24px;
 }

 .header__logo {
  display: flex;
  justify-content: center;
  width: 148px;
  height: 105px;
  flex-shrink: 0;
 }

 .header__menu {
  display: flex;
  white-space: nowrap;
 }

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  justify-content: space-between;
  padding-left: 28px;
}

.header__links-list-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgb(0 0 0);
}

.header__links-list-item-active {
  list-style: none;
}

.header__link_active {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header__link_active,
.header__link,
.header__address {
  text-underline-offset: 4px;
}

.address {
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  line-height: 24px; 
}

.header__address {
  margin-left: 184px;
}

.cover {
  display: block;
  position: relative;
  background-size: cover;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;  
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color:rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover_title {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 165px 50px 107px 50px;
  text-align: center;
  font-size: 100px;
  color: rgb(255,255,255);
  gap: 20px;
  letter-spacing: 30px;
  line-height: 1.15;
} 

.uppercase-text {
  text-transform: uppercase;
}

.aligned-text {
  align-self: flex-start;
  text-align: center;
}

.aligned-text_center {
  align-self: center;
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  align-self: flex-end;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  align-items: center;
  font-stretch: ultra-expanded;
  padding: 0px 50px 50px;
  flex-shrink: 0;
  gap: 75px;
  flex-wrap: nowrap;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  word-spacing: 19px;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(255,255,255);
}

.bet-button {
  color: rgb(255,255,255);
  font-weight: 500;
  padding: 12px 32px;
  margin-left: 28px;
  border: 1px solid rgb(255,255,255);
  background: transparent;
  font-size: 22px;
  inline-size: auto;
  flex-shrink: 0;
}

.lots {
  display: grid;
  margin-top: 180px;
  margin-left: 24px;
  row-gap: 28px;
  color: rgb(255,255,255);
  flex-shrink: 0;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.lots__card-list-item {
  display: block;
  color: rgb(255,255,255);
  background-repeat: no-repeat;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  width: 334px;
  background-position: center;
}

.card__title {
  padding: 48px 40px 0;
  color: rgb(255,255,255);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.card__text {
  padding: 35px 40px 48px;
  color: rgb(255,255,255);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg')
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  height: 100%;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 358px 1fr;
  padding: 120px 24px 0 24px;
}

.about__logo {
  position: relative;
  display: flex;
  top: 35px;
  left: 47px;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 137px 4px 100px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 180px 50px 92px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.footer__address {
  text-underline-offset: 6px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}